.createReport {
    &__loading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    &__inner {
        padding-top: 38px;
        padding-bottom: 133px;
    }

    h3 {
        color: #000;
        font-size: 40px;
        font-weight: 700;
    }

    &__panel {
        display: flex;
        justify-content: space-between;
        margin-bottom: 72px;
    }

    &__btnSave {
        border-radius: 15px;
        background: #000;
        cursor: pointer;
        border: 0;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        padding: 15px 14px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #ffa500;
        }
    }

    &__nameReport {
        display: flex;
        align-items: center;
        gap: 5px;

        input {
            color: #000;
            font-size: 40px;
            font-weight: 700;
            border: 0;
            outline: none;
            max-width: 300px;
        }
    }

    &__step {
        margin-bottom: 40px;
        border-bottom: 2px solid #000;
        padding-bottom: 15px;
    }

    &__stepTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__stepTopLeft {
        display: flex;
        align-items: center;
        gap: 33px;
    }

    &__stepNumber {
        color: #858585;
        font-size: 36px;
        font-weight: 700;
    }

    &__stepTitle {
        color: #000;
        font-size: 24px;
        font-weight: 700;
    }

    &__stepDatepicker {
        border-radius: 15px;
        background: #858585;
        border: 0;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        outline: none;
        padding: 15px 22px;
        min-width: 269px;
    }
}
