.graph-wrapper {
	border-bottom: 2px solid #858585;
	border-left: 2px solid #858585;
	border-right: 2px solid #858585;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 49px;
	margin-bottom: 49px;
	margin-left: 49px;
	margin-right: 49px;
}

.wrapper {
	height: 300px;
	position: relative;
}
.graphContainer {
	height: 300px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 0;
}

.secondGraph {
	height: 300px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 4;
}
